.App {
  height: 100vh;
  font-family: Arial, sans-serif;
  width: 100%;
  background-color: blue;
  position: absolute;
}
.Conteudo{
  margin-top: 20vh;
  margin-left: 20vw;
  background-color: pink;
}